h1 {
  color: tomato;
}
.container {
  margin-left: 0px;
  margin-right: 0px;
}
body {
      background: #30353e;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 70px 0px;
    }
/*    .navbar {
      left: 0;
      top: 0;
    }*/

.bsClass {
  background: transparent;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #9d9d9d;
  border: 0px;
}

.bsStyle {
  background: #30353e;
  color: #9d9d9d;
}

 #localVideo {
    height: 200px;
}

#remoteVideos video {
    height: 200px;
}

@import "../node_modules/codemirror/lib/codemirror.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
